@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}
.h-screen {
    height: var(--vh, 100vh);
}
/*@media screen and (max-width: 768px) and (orientation: landscape) {*/
/*    .h-screen {*/
/*        height: 100vw;*/
/*    }*/
/*}*/

.animate-on-wrong-guess {
    animation: football-bounce 1.4s ease-in-out;
}
@keyframes football-bounce {
    0% {
        transform: translateY(0px);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
    25% {
        transform: translateY(-30px);
        animation-timing-function: ease-in;
    }

    45% {
        transform: translateY(0px);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
    70% {
        transform: translateY(-9px);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
    85% {
        transform: translateY(0px);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
    90% {
        transform: translateY(-3px);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
    100% {
        transform: translateY(0px);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}


.animate-character-into-view {
    animation: character-into-view 1s ease-in-out;
}

@keyframes character-into-view {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-on-keypress {
    animation: keypress 0.2s ease-in-out;
}

@keyframes keypress {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.game-over-message-fade-in {
    animation: game-over-message-fade-in 1s ease-in-out;
}

@keyframes game-over-message-fade-in {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.wrong-answer-input {
    animation: box-shake 0.2s ease-in-out;
}

@keyframes box-shake {
    0% {
        transform: translateY(3px);
    }
    20% {
        transform: translateY(-3px)
    }
    40% {
        transform: translateY(3px)
    }
    60% {
        transform: translateY(-3px)
    }
    80% {
        transform: translateY(3px)
    }
    100% {
        transform: translateY(0px)
    }

}

.carousel-status {
    display: none;
}

.control-dots {
    position: relative !important;
}

.dot {
    background: #54b4ff !important;
}

